.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 20px;

  .app {
    position: absolute;

    left: 50px;
    border: none;
    background-color: transparent;

    img {
      width: 100px;
      height: 100px;
    }

    &.touched img {
      filter: invert(1) sepia(1) saturate(10) hue-rotate(210deg);
      border: 2px solid gray;
    }

    span {
      width: 100px;
      font-size: 21px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      font-family: "spaceMono";
      font-weight: 500;
    }

    &.touched span {
      background-color: blue;
      color: white;
      border: 2px solid gray;
    }
  }

  .index1 {
    top: 40px;
  }
  .index2 {
    top: 220px;
  }

  .index3 {
    top: 400px;
  }
  .index4 {
    top: 610px;
  }
  .index5 {
    top: 810px;
  }
}
