.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 20px;

  .app {
    position: absolute;
    top: 100px;
    left: 100px;
    border: none;
    background-color: transparent;

    img {
      margin-left: 5px;
      width: 100px;
      height: 100px;
      padding: 5px 5px;
      position: relative;
      top: 15px;
    }

    &.touched img {
      filter: invert(1) sepia(1) saturate(10) hue-rotate(210deg);
      border: 2px solid gray;
    }

    span {
      font-size: 20px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }

    &.touched span {
      background-color: blue;
      color: white;
      border: 2px solid gray;
    }
  }
}
