@import url("./reset.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
}

/*---------------font------------*/

@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "spaceMono";
  font-weight: 500;
  src: url("../fonts/SpaceMono-Regular.ttf") format("woff");
}

@font-face {
  font-family: "spaceMono";
  font-weight: 700;
  src: url("../fonts/SpaceMono-Bold.ttf") format("woff");
}

@font-face {
  font-family: "micross";
  font-weight: 700;
  src: url("../fonts/micross.ttf") format("woff");
}
