@import url("./reset.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
}

/*---------------font------------*/

@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
}
