#tooltip {
  padding: 1px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
  pointer-events: none;
  background-color: black;
  border-radius: 0px 5px 5px 5px;
  opacity: 0;
  transition:
    background-color 0.5s ease,
    opacity 0.5s ease;

  z-index: 100000000;

  .balloon {
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    left: -10px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid black;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .text {
    font-family: "pretendard";
    font-size: 12px;
    line-height: 23px;
    text-wrap: nowrap;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}
